# Build
TAG=latest
DOCKER_REGISTRY=openagri-eu
SOURCE_REPO=https://github.com/openagri-eu/openagri-weatherservice


# Weather service
LOGGING_LEVEL=DEBUG
WEATHER_SRV_PORT=8010
WEATHER_SRV_DATABASE_URI=mongodb://root:root@mongodb:27017
WEATHER_SRV_DATABASE_NAME=openagridb
WEATHER_SRV_OPENWEATHERMAP_API_KEY=


# MongoDB
WEATHER_SRV_MONGO_INITDB_ROOT_USERNAME=root
WEATHER_SRV_MONGO_INITDB_ROOT_PASSWORD=root
WEATHER_SRV_MONGO_INITDB_DATABASE=openagridb

# ALLOWED_HOSTS
WEATHER_SRV_EXTRA_ALLOWED_HOSTS='*'

# JWT
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=240
JWT_SIGNING_KEY=c2bab29d257f0ffc52d9ac677d4ff6d1d9d5e92e3d3939d3f4cwc
JWT_ALG=HS256
JWT_CRYPT_CONTEXT_SCHEME=bcrypt

# FARM CALENDAR JOBS
PUSH_THI_TO_FARMCALENDAR=True
PUSH_FF_TO_FARMCALENDAR=
PUSH_SPRAY_F_TO_FARMCALENDAR=
INTERVAL_THI_TO_FARMCALENDAR=8

# OA ADS ROUTING
GATEKEEPER_URL=
GATEKEEPER_FARM_CALENDAR_API=